header {
    display: flex;
    align-items: center;
    justify-content: space-around;
    border-bottom: 1px solid rgba(14, 14, 14, 0.891);
    
}


li {
    display: inline-block;
    margin: 1rem;
    cursor: pointer;
}


.logo-container {
    display: flex;
    align-items: center;
}

.logo-image {
    width: 50px; 
    margin-right: 10px; 
}

#logo {
    margin: 0; 
}

